<% content_for :user_panel do %>
  <div>
    <!– substituindo isso  button_to "Sign out", destroy_user_session_path, method: :delete  pela linha abaixo: –>

    <%= link_to "Sign out", destroy_user_session_path, data: { turbo_method: :delete }  %>
  </div>
<% end %>
<%= render template: "layouts/application" %>